// $primary-color: #5C97CF;
// $secondary-color: #C47042;
// $blue-color: #1b5088;
// $light-color: #F3EBE9;
// $dark-color: #4E3240;
// $color: grey;
// $black-color: #1A1B20;
// $funky-color: #516653;
// // $funky-color: #790904;
// $orange-color: #d8bd9b;
// // $orange-color: #e6bca5;
// $background: #3d8bb9;
// $white-color: #F4F4F4;

$primary-color: #426A96;
$secondary-color: #45ab64;
$green-color: #145736;
// $blue-color: #21487C;
$blue-color: #22374e;
$light-color: #F3EBE9;
$grey-color: #bfbbba;
$dark-color: #3F3261;
$dark-blue: #244577;
$color: #282828;
$funky-color: #ca4024;
$orange-color: #f9c493;
// $orange-color: #f9b193;
// $background: #F4D8AE;
$background: #f6eee2;
$white-color: #F4F4F4;
// $black-color: #1A1B20;
$black-color: #100f14;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;