$primary-color: #426A96;
$secondary-color: #378950;
$green-color: #145736;
$blue-color: #22374e;
$light-color: #F3EBE9;
$grey-color: #bfbbba;
$dark-color: #3F3261;
$dark-blue: #284e86;
$color: #414040;
$funky-color: #CD3719;
$orange-color: #f9c493;
$background: #F4D8AE;
$white-color: #F4F4F4;
$black-color: #100f14;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;